body{
    background-color:rgb(99, 144, 241);
}

*{
    box-sizing: border-box;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 40px 40px 40px 40px;
    width:40%;
    height: 400px;
    margin-top: 100px;
  }


label{
  
    font-weight: bold;
    color:#000;
}

input{
    border-radius: 5px;

}

 
input[type="text"], textarea { 
    background-color : white;
    border-radius: 5px;
    border-color: #000;
    border: 1px solid black;
}

input:focus, textarea:focus, select:focus{
    outline:auto;
}

#test{
    width: 182px;
    margin-left: -5px;
}

button {
    background:rgb(0, 5, 5);
    padding: 6px;
    border-radius: 5px;
    font-size:small;
    cursor: pointer;
    margin-left: 190px;
    color: #f3f5f7;
  }

#rd{
    margin-left: 0px;
    
}

#field2{
    width: 205px;
}




